<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYdqNvUZ6OIb9M1a14E9xIi7Yo6rB0zIc</string>
	<key>GCM_SENDER_ID</key>
	<string>983025779544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finathonApp</string>
	<key>PROJECT_ID</key>
	<string>digicrafters-9d396</string>
	<key>STORAGE_BUCKET</key>
	<string>digicrafters-9d396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983025779544:ios:fcea551c45366fc04f1b2d</string>
</dict>
</plist>